# API connection
PORT = 3000

# Database Configs
DB_HOST = localhost
DB_USERNAME = 
DB_PASSWORD = 
DB_PORT = 3306
DB_NAME = escrow
DIALECT = mysql
INIT_DB = false

# Mail Configs
FROM_MAIL = admin@gmail.com
MAIL_HOST = smtp.mailtrap.io
MAIL_PORT = 
MAIL_USER = 
MAIL_PASS = 

# Logger Configs
TIME_FORMAT = YYYY-MM-DD
MAX_SIZE = 20m
LOG_LEVEL = info
FILE_NAME = escrow.log
FOLDER_NAME = logfiles
CATEGORY = winston custom format

# JWT Configs
ALGORITHM = ES256
TOKEN_EXPIRES_TIME = 20m

#BSC Configs
BSCT_JSON_RPC_URL = https://data-seed-prebsc-1-s3.binance.org:8545
BSC_JSON_RPC_URL = https://bsc-dataseed4.binance.org
BSC_CONTRACT_ADDRESS = 

#Tron Configs
SHASTA_JSON_RPC_URL = https://api.shasta.trongrid.io/
NILE_JSON_RPC_URL = https://nile.trongrid.io/
NILE_EVENT_SERVER = https://event.nileex.io
MAINNET_JSON_RPC_URL = https://api.trongrid.io/
TRON_CONTRACT_ADDRESS = 

#SOL Configs
SOLANA_PROGRAM_ID = 
RPCENDPOINT = 

# Static Paths
LOGGER_ERROR_PATH = /assets/logfiles/error
LOGGER_COMBINED_PATH = /assets/logfiles/combined
TEMPLATES_PATH = /assets/templates

# Deal Link
DEAL_LINK_PATH = https://scro.theblockchain.team/accept?id=

PASSCODE_LENGTH = 6