# API connection
PORT = 3000

# Database Configs
DB_HOST = 
DB_USERNAME = 
DB_PASSWORD = 
DB_PORT = 
DB_NAME = 
DB_DIALECT = 
ALTER_DB = false

# Logger Configs
TIME_FORMAT = YYYY-MM-DD
MAX_SIZE = 20m
LOG_LEVEL = info
FILE_NAME = escrow.log
FOLDER_NAME = logfiles
CATEGORY = winston custom format

# Sepolia Configs
SEPOLIA_JSON_RPC_URL = https://eth-sepolia-public.unifra.io/
SEPOLIA_ESCROWFACTORY_ADDRESS = 
EUSDT_TOKEN_ADDRESS = 
PRIVATE_KEY = 

#Tron Configs
SHASTA_JSON_RPC_URL = https://api.shasta.trongrid.io/
NILE_JSON_RPC_URL = https://nile.trongrid.io/
NILE_EVENT_SERVER = https://event.nileex.io
MAINNET_JSON_RPC_URL = https://api.trongrid.io/
TRON_CONTRACT_ADDRESS = TQERwyQ6ZZMuDADLCB9HreWCUp3AV5cn59

#SOL Configs
SOLANA_PROGRAM_ID = 8pZkBXTmvLdudXm5R7JmtihPJ3C5anAd6N9EvGZzBJ3n
SOL_DEVNET_JSONRPC = 

# Static Paths
LOGGER_ERROR_PATH = /assets/logfiles/error
LOGGER_COMBINED_PATH = /assets/logfiles/combined

# Deal Link
DEAL_LINK_PATH = https://scro.theblockchain.team/accept?id=